.menu{
    list-style-type: none;

    &_item{
        display: flex;
        justify-content: space-between;
        color: $headingColor;
        line-height: 50px;
    }

    &_price{
        color: $primaryColor;
    }
}